In [1]:
import os
import pymysql
import pandas as pd
import requests
from bs4 import BeautifulSoup

host = os.getenv('localhost')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')

conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd="",
    db="recommender_system",
    charset='utf8mb4')

In [2]:
#PARA BUSCAR UNA PELICULA POR SU CODIGO

def searchMovieIfExist( key ):
    
    sql  = "SELECT * FROM tittle_basics WHERE tconst='%s'"%(key)
   
    df = pd.read_sql_query( sql, conn )
    return df.tail(10)

In [3]:
#searchMovieIfExist("tt0000001")

In [4]:
#OBTIENE TODA LAS LISTAS GURDADAS
def getList(name):
    sql  = "SELECT * FROM lists WHERE name like '%s'"%(name)
   
    df = pd.read_sql_query( sql, conn )
    return df

In [5]:
#getList("nombre prueba")

In [6]:
def insertList(name, link, metadata):
    
    with conn.cursor() as cursor:
        # CREA UNA NUEVA FILA
        sql = "INSERT INTO lists ( name, link, metadata ) VALUES ( %s, %s, %s )"
        cursor.execute( sql,( name, link, metadata ) )
        
        #GUARDAMOS LOS CAMBIOS
        conn.commit()

In [7]:
#insertList("nombre prueba", "link prueba", "meta prueba")

In [8]:


def getListImdb(url):    
   
    r = requests.get(url)
    html_content = r.text
    soup = BeautifulSoup(html_content, 'lxml')

    #OBTENGO TODAS LAS LISTAS
    lists = soup.findAll("div", {"class": "list-preview"})

    resultList = []


    #RECORRO LAS LISTAS Y SACO LA INFORMACIÓN
    for list in lists:
        collectorList = []
        #OBTENGO EL NOMBRE DE LA LISTA
        infoList = list.find( "div" , {"class": "list_name"} )
        nameList = infoList.find( "a" )    
        collectorList.append(nameList.text)
      

        #OBTENGO EL LINK DE LA LISTA

        linkList = infoList.find( 'a', href = True) 
        collectorList.append(linkList['href'])
        

        #OBTENGO LA METADATA DE LA LISTA
        metadataList = list.find( "div" , {"class": "list_meta"} )
        collectorList.append(metadataList.text)
        
        resultList.append(collectorList)

    return resultList

In [9]:
#URL DE LA LISTA A BUSCAR
url='https://www.imdb.com/lists/tt0074486?ref_=tt_rls_sm'

#SACAMOS EL CODIGO DE LA PELICULA
urlSplit=url.split('/',4)[-1]
urlSplit=urlSplit.split('?',1)[0]

#OBTENEMOS LAS LISTAS
listas = getListImdb(  url) 

for lista in listas:
    insertList(lista[0], lista[1], lista[2])

   id                         name               link  \
0   6  \nMYSTERY - HORROR MOVIES\n  /list/ls076523709
1  17  \nMYSTERY - HORROR MOVIES\n  /list/ls076523709

                                            metadata
0  \n            a list of 40 titles\n           ...
1  \n            a list of 40 titles\n           ...
   id                    name               link  \
0   7  \nFAV. HORROR MOVIES\n  /list/ls095051413
1  18  \nFAV. HORROR MOVIES\n  /list/ls095051413

                                            metadata
0  \n            a list of 37 titles\n           ...
1  \n            a list of 37 titles\n           ...
   id                 name               link  \
0   8  \nKermode on film\n  /list/ls091589797
1  19  \nKermode on film\n  /list/ls091589797

                                            metadata
0  \n            a list of 36 titles\n           ...
1  \n            a list of 36 titles\n           ...
   id                              name               link  \
0   9  \ntop horror movies by critics\n  /list/ls027452003
1  20  \ntop horror movies by critics\n  /list/ls027452003

                                            metadata
0  \n            a list of 43 titles\n           ...
1  \n            a list of 43 titles\n           ...
   id        name               link  \
0  10  \nTEEROR\n  /list/ls045210080
1  21  \nTEEROR\n  /list/ls045210080

                                            metadata
0  \n            a list of 23 titles\n           ...
1  \n            a list of 23 titles\n           ...
   id           name               link  \
0  11  \nFavoritos\n  /list/ls024942731
1  22  \nFavoritos\n  /list/ls024942731

                                            metadata
0  \n            a list of 29 titles\n           ...
1  \n            a list of 29 titles\n           ...
   id               name               link  \
0  12  \nLongas ficção\n  /list/ls097017163
1  23  \nLongas ficção\n  /list/ls097017163

                                            metadata
0  \n            a list of 37 titles\n           ...
1  \n            a list of 37 titles\n           ...
   id                     name               link  \
0  13  \nAll Time Favourites\n  /list/ls026704819
1  24  \nAll Time Favourites\n  /list/ls026704819

                                            metadata
0  \n            a list of 24 titles\n           ...
1  \n            a list of 24 titles\n           ...
   id                 name               link  \
0  14  \nfavourite films\n  /list/ls046140628
1  25  \nfavourite films\n  /list/ls046140628

                                            metadata
0  \n            a list of 45 titles\n           ...
1  \n            a list of 45 titles\n           ...
   id                             name               link  \
0  15  \nSardonicast Recommendations\n  /list/ls044147362
1  26  \nSardonicast Recommendations\n  /list/ls044147362

                                            metadata
0  \n            a list of 48 titles\n           ...
1  \n            a list of 48 titles\n           ...
   id     name               link  \
0  16  \n555\n  /list/ls046687435
1  27  \n555\n  /list/ls046687435

                                            metadata
0  \n            a list of 39 titles\n           ...
1  \n            a list of 39 titles\n           ...

DatabaseError: Execution failed on sql 'SELECT * FROM lists WHERE name like '
Georgi's list
'': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 's list\n'' at line 1")